<div class="password-checker">
  <div class="input-group">
    <input 
      [type]="showPassword ? 'text' : 'password'" 
      placeholder="Enter password" 
      (input)="onPasswordInput($event)"
    />
    <button type="button" (click)="togglePasswordVisibility()">
      {{ showPassword ? 'Show' : 'Hide' }}
    </button>
  </div>
  <div class="strength-sections">
    <div [ngClass]="getSectionClass(1)"></div>
    <div [ngClass]="getSectionClass(2)"></div>
    <div [ngClass]="getSectionClass(3)"></div>
  </div>
</div>
